<link rel='stylesheet' href='/stylesheets/adminStyle.css' />
<div class="left-bar p-5">
  <span class="profile mb-4">
    <img src="https://wallpapercave.com/wp/wp2525416.jpg" alt="">
    <h2 class="my-auto">Admin Dashboard</h2>
  </span>

  <main>
    <ul>
      <li><a href="/admin/manage-user"><span><i class="fas fa-users"></i></span>Manage Users</a></li>
      <li><a href="/admin/add-member"><span><i class="fas fa-users"></i></span>Add Member</a></li>
      <li><a href="/admin/view-members"><span><i class="fas fa-list"></i></span>View Members</a></li>
      <li><a href="/admin/view-categorized"><span><i class="fas fa-list"></i></span>view-categorized</a></li>
      {{!-- <li><a href="#live-auction-view"><span><i class="fas fa-gavel"></i></span>Live Auction View</a></li> --}}
      {{!-- <li><a href="/bid-history"><span><i class="fas fa-history"></i></span>Bid History</a></li>
      <li><a href="#budget-monitoring"><span><i class="fas fa-money-bill-wave"></i></span>Budget Monitoring</a></li>
      <li><a href="#auction-alerts"><span><i class="fas fa-bell"></i></span>Auction Alerts</a></li> --}}
      <li><a href="/admin/currentBid"><span><i class="fas fa-exclamation-circle"></i></span>Current Bid</a></li>
      {{!-- <li><a href="#auction-reports"><span><i class="fas fa-chart-line"></i></span>Auction Reports</a></li>
      <li><a href="#user-activity-reports"><span><i class="fas fa-user-clock"></i></span>User Activity Reports</a></li>
      <li><a href="#system-settings"><span><i class="fas fa-cogs"></i></span>System Settings</a></li>
      <li><a href="#access-control"><span><i class="fas fa-lock"></i></span>User Access Control</a></li> --}}
    </ul>
    <div class="card px-4 bg-light pb-2 shadow-sm">
      <div class="card mt-5">
        <button class="btn btn-primary shadow">Start Bidd</button>
      </div>
    </div>
</div>
<div class="container dashboard mt-3">
  <div class="row">
    <h4 class="mb-3">View Users</h4>
    <div class="col-md-3">
      <div class="card">
        <h2>Group 1<span class="tooltip mb-2">Click to view more details</span></h2>
        <div class="balance">
          <h3>$10,000</h3>
          <p>Remaining Balance</p>
        </div>
        <div class="recent-bidds">
          <p class="text-center px-2">Recent Bidds</p>
          <ul class="bidd-list ps-3">
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-md-3">
      <div class="card">
        <h2>Group 1<span class="tooltip mb-2">Click to view more details</span></h2>
        <div class="balance">
          <h3>$10,000</h3>
          <p>Remaining Balance</p>
        </div>
        <div class="recent-bidds">
          <p class="text-center px-2">Recent Bidds</p>
          <ul class="bidd-list ps-3">
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!----->
    <div class="col-md-3">
      <div class="card">
        <h2>Group 1<span class="tooltip mb-2">Click to view more details</span></h2>
        <div class="balance">
          <h3>$10,000</h3>
          <p>Remaining Balance</p>
        </div>
        <div class="recent-bidds">
          <p class="text-center px-2">Recent Bidds</p>
          <ul class="bidd-list ps-3">
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--------->
    <div class="col-md-3">
      <div class="card">
        <h2>Group 1<span class="tooltip mb-2">Click to view more details</span></h2>
        <div class="balance">
          <h3>$10,000</h3>
          <p>Remaining Balance</p>
        </div>
        <div class="recent-bidds">
          <p class="text-center px-2">Recent Bidds</p>
          <ul class="bidd-list ps-3">
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
            <li class="bidd-item">
              <img class="rounded-circle border border-2 border-light" src="https://wallpapercave.com/wp/wp2525416.jpg"
                alt="" height="40">
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>



  <!------>
  <div class="current-bidd">
    <div class="row">
      <div class="col-md-8">
        <h4 class="mb-3">Current Bidd</h4>
        <div class="card">
          <div class="container">
            {{#if currentBidMember}}
            <div class="row py-4">
              <div class="col-md-6">
                <div class="img-container">
                  <img src="/images/{{currentBidMember.member.img}}" class="" alt="{{currentBidMember.name}}" width="400">
                  <h2>{{currentBidMember.member.name}}</h2>
                </div>
              </div>

              <div class="col-md-4 m-auto">
                <div class="bid-info">
                  <div class="card text-info">
                    <p class="text-secondary">{{currentBidMember.member.skills}}</p>
                  </div>
                  <span>Base Price</span>
                  <h1 class="base-price shadow">₹{{currentBidMember.member.basePrice}}</h1>
                  <span>Current Bid</span>
                  <h1 class="current-bid shadow">₹{{currentBidMember.member.currentBid}}</h1>
                  <span>Time Remaining</span>
                  <h1 class="time-remaining shadow" id="countdown">00:00:30</h1>
                </div>
              </div>
            </div>
            {{else}}
            <p>No Member is currently in Bid.</p>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-md-4 upcoming-Bid-container">
        <h4 class="mb-3">Upcoming Bids</h4>
        <div class="card">
          <div class="upcoming-Bids">
            <p class="text-center px-2">Senior</p>
            <ul class="bidd-list ps-3">
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="upcoming-Bids">
            <p class="text-center px-2">Super Senior</p>
            <ul class="bidd-list ps-3">
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="upcoming-Bids">
            <p class="text-center px-2">Junior</p>
            <ul class="bidd-list ps-3">
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="upcoming-Bids">
            <p class="text-center px-2">Sub Junior</p>
            <ul class="bidd-list ps-3">
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
              <li class="bidd-item">
                <img class="rounded-circle" src="https://wallpapercave.com/wp/wp2525416.jpg" alt="" height="40">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>